@import "reset.css";
@import "general.css";

            /* HEADER */


header {
    background-color: var(--main-content-color);
    position: fixed;
    width: 100%;
    z-index: 1;
}




.container .header-content {
    display: flex;
    justify-content: space-between;
}

.header-content .hamburger-menu {
    color: white;
    padding: .625rem;
    font-size: 1.875rem;
}


.logo > img {
    width: 100%;
    padding: .625rem;
}


.links ul > li {
    display: inline-block;
    list-style: none;
    margin-top: 1.25rem;
    
}

.links ul li > a {
    text-decoration: none;
    color: white;
    padding: .625rem;
    
}

.container .header-content > .links {
    display: none;
}

/* MAIN */
main {
    padding-top: 3.75rem;
}

/* SECTION 1 */



.container .row {
    display: flex;
    flex-wrap: wrap;
    margin:0 -0.9375rem;

}

.col {
    width: calc(100% - 1.875rem);
    margin: .9375rem;
    background-color: var(--secondary-content-color);
    border: .0625rem solid var(--secondary-content-color);
    border-radius: 2.5rem;
}


.row .col h3 {
    color: var(--main-content-color);
    text-align: center;
    padding: .625rem;
}

.row .col > i {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1.875rem;
    color: var(--main-content-color);
    padding: .625rem;
}

.row .col h3 + p {
    text-align: center;
    padding: 1.25rem;
}


.demo-application > h3 {
    color: var(--main-content-color);
    padding: 1.25rem;
    
}


.col.big .demo-application button {
    background-color: var(--main-content-color);
    border: .0625rem solid var(--main-content-color);
    border-radius: 2.5rem;
    margin: 1.25rem;
    
    
}

.col.big .demo-application button > a {
    text-decoration: none;
    color: white;
    padding: .625rem;
}

.col.big .demo-application button > i {
    padding-left: .625rem;
    color: white;
}


.row .col.big .option-img > img {
    width: 100%;
}

/* SECTION 2 */

.planning {
    background-color: var(--main-2-content-color);
}

.planning-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.9375rem;
}

.planning-col {
    width: calc(100% - 1.875rem);
    margin: .9375rem;
    background-color: var(--main-2-content-color);
    border: .0625rem solid var(--main-2-content-color);
}

.planning-col  img {
    width: 100%;

}

.planning-col > h2,p {
    color: white;
    text-align: center;
    padding: 1.25rem 0;
    line-height: 1.875rem;
}

.second-planning-img {
    background-color: white;
    border: .0625rem solid white;
    border-radius: 2.5rem;
}

.second-planning-img > h3 {
    text-align: center;
    padding: .625rem;
}

.second-planning-img > p {
    color: black;
    text-align: center;
    padding: .625rem;
    line-height: 1.875rem;

}



.second-planning-img > a {
    color: black;
    text-decoration: none;
}





.second-planning-img a > i {
    width: 100%;
    display: inline-block;
    text-align: center;
   
}
    



/* SECTION 3 */
.testimonials .container h2 {
    color: var(--main-2-content-color);
    font-size: 2.0rem;
    text-align: center;
}

.testimonials .container h2 + p {
    color: black;
    text-align: center;
    margin: 1.25rem 0;
}

.customer {
    background-color: var(--main-2-content-color);
    margin: 1.25rem;
    border: .0625rem solid var(--main-2-content-color);
    border-radius: 2.5rem;
}


.customer .customer-col {
    text-align: center;
    padding: 0 .625rem;
    
}

.customer-col.photo img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    padding: 1.25rem;
    
    
}

.customer-col.text {
    color: white;
    padding: 1.25rem;
    
}

.customer-col.text > p {
    color: white;
    
}


/* SECTION 4 */
.benefits {
    background-color: var(--main-2-content-color);
}

.benefits h2 {
    color: white;
    font-size: 2.0rem;
    text-align: center;
}

.benefits .container .row .col {
    background-color: white;
}

/* SECTION 5 */

.final-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.final-col-1 {
    width: calc(100% - 1.875rem);
    margin: .9375rem;
}

.final-col-2 {
    width: calc(100% - 1.875rem);
    margin: .9375rem;
    color: var(--main-2-content-color);

}










/* RESPONSIVE */
@media  screen and (min-width:768px) {
    /* SECTION 1 */
    .row {
        align-items: stretch;
    }

    .col {
        width: calc((100% / 3) - 1.875rem);
        margin: .9375rem;
    }

    .col.big {
        width: calc(((100% / 3) * 2) - 1.875rem);
        margin: .9375rem;
    }

    /* SECTION 3 */
    .customer-row {
        display: flex;
    }

    .customer-col.text {
        text-align: left;
    }

    .customer-col.text > p {
        text-align: left;
    }

    /* SECTION 4 */

    .benefits .container .row .col {
        width: calc(50% - 1.875rem);
        margin: .9375rem;
    }

    /* SECTION 5 */
    .final-col-1 {
        width: calc(70% - 1.875rem);
        margin: .9375rem;
    }

    .final-col-2 {
        width: calc(30% - 1.875rem);
        margin: .9375rem;
    }


    
}




@media screen and (min-width:992px) {

    /* HEADER */
    .container .header-content > .links {
        display: inline-block;
    }


    /* SECTION 1 */
    .row .col.big {
        display: flex;
    }

    .demo-application {
        width: 50%;
        padding-right: 1.25rem;
    }

    .option-img {
        width: 50%;
    }

    .container .header-content > .hamburger-menu {
        display: none;
    }
    /* SECTION 2 */
    .planning-row {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .planning-col {
        width: calc(50% - 1.875rem);
        margin: .9375rem;
    }

    /* SECTION 4 */

    .benefits .container .row .col {
        width: calc((100% / 3) - 1.875rem);
        margin: .9375rem;
    }

}

