@import "reset.css";
@import "general.css";

            /* HEADER */


header {
    background-color: var(--main-content-color);
}




.container .header-content {
    display: flex;
    justify-content: space-between;
}

.links ul > li {
    display: inline-block;
    list-style: none;
}

.container .header-content > .links {
    display: none;
}

/* MAIN */
.container .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.9375rem;

}

.col {
    width: calc(100% - 1.875rem);
    margin: .9375rem;
    background-color: var(--secondary-content-color);
    border: .0625rem solid var(--secondary-content-color);
}



/* RESPONSIVE */
@media  screen and (min-width:768px) {
    .row {
        align-items: stretch;
    }

    .col {
        width: calc((100% / 3) - 1.875rem);
        margin: .9375rem;
    }

    .col.big {
        width: calc(((100% / 3)* 2) -1.875rem);
        margin: .9375rem;
    }


    
}




@media screen and (min-width:992px) {
    .container .header-content > .links {
        display: inline-block;
    }

    .container .header-content > .hamburger-menu {
        display: none;
    }

}

